body {
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;

  
}


/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 10px;
 
  
}



/* Custom scrollbar track */
::-webkit-scrollbar-track {
  background-color: #0E2445; /* Light grey */
}

/* Custom scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: white;
   
  border-radius: 20px;/* Grey */
}

/* Optional: Hover styles for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color:  #3AC8FF;
  ; /* Dark grey */
}

